.notepaper {
    -fx-background-color: transparent;
    /*-fx-border-color: #000000; !* 边框颜色，可以根据需要修改 *!*/
    /*-fx-border-width: 1; !* 边框宽度，可以根据需要修改 *!*/
    /*-fx-border-radius: 10; !* 圆角半径，可以根据需要修改 *!*/
    -fx-padding: 0;
}

.button-bar {
    -fx-min-height: 40px;
    -fx-min-width: 300px;
    -fx-background-color: #FFF2AB;
}

.button-bar Button {
    -fx-min-width: 50px;
    -fx-min-height: 40px;
    -fx-background-color: transparent; /* 取消背景颜色 */
    -fx-border-color: transparent; /* 取消边框颜色 */
    -fx-text-fill: black; /* 设置文本颜色为黑色，你可以根据需要更改颜色 */
    -fx-font-size: 20px; /* 设置字体大小，你可以根据需要更改大小 */
    -fx-font-weight: normal; /* 取消粗体效果，如果按钮原来是粗体的 */
    -fx-background-insets: 0; /* 取消背景内边距 */
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.button-bar Button:hover {
    -fx-background-color: #EEE2A0; /* 修改为悬停时的背景颜色，此处为金色 */
}

.scroll-pane {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-hbar-policy: never; /* 滚动条不显示 */
    -fx-vbar-policy: never;
}

.record-bar {
    -fx-min-height: 360px;
    -fx-background-color: #FFF7D1;
    -fx-min-width: 300px;
    -fx-padding: 15px;
}

.record-item {
    -fx-background-color: #FFF7D1; /* 设置背景颜色 */
    -fx-text-fill: #000000; /* 设置文本颜色 */
    -fx-border-width: 0 0 1 0; /* 设置边框宽度 */
    -fx-border-color: #000000; /* 设置边框颜色 */
}